body {
    font-family: Helvetica, sans-serif;
}
.nav-list1 {
  background-color: #131313;
  color: #bdbdbd;
  font-size: 0.875em;
  height: 1.3%;
  padding-bottom: 1%;
  padding-left: 1.7%;
  padding-top: 0.7%;
  cursor: pointer;
}
.nav-list1:active {
  color: white;
}
.nav-list1 li {
  display: inline;
  margin-right: 1.1%;
}
.nav-list1 li:hover {
  color: white;
}
.nav-list2 {
    background-color: #F7F7F7;
    color: #ADADAD;
    font-size: 0.9em;
    height: 1.3%;
    padding: 1.5%;
    cursor: pointer;
}
.nav-list2 li {
    display: inline;
    margin-right: 1.6%;
}
.nl-2-1 {
    float: left;
    width: 90%;
}
.nl-2-2 {
    float: right;
    width: 10%;
}
.nl-2-2 button {
    float: right;
    padding: 17.18%;
    position: relative;
    top: -1.7em;
    right: -15.5%;
}
.pride{
  background-color:#fd3;  
}
.pride:after{
    clear: both;
    display: table;
    content:"";
}
.amsterdam{
    float: left;
    padding-bottom: 0.6%;
    padding-left: 1.7%;
    padding-top: 0.6%;
    position: relative;
}
.amsterdam-p2{
    padding-left: 0.5%;
}
.flag-img{
    float: left;
    margin-left: 1%;
    position: relative;
    top: 0.5em;
    width: 1%;
}
.first-section{
    box-sizing: border-box;
    color: white;
    height: 75vh;
    margin: 0 auto;
    width: 99%;
}
.first-section-art1{
    background-image: linear-gradient(to bottom right, rgba(247, 11, 11, 0.5) 30%, rgba(15, 1, 1, 0.7) 60%), 
    url("img/tik-tok.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    float: left;
    height: 100%;
    position: relative;
    width: 67%;
}

.first-section-art1 h1 {
  font-size: 4em;
  font-weight: bold;
  position: relative;
  margin-top: 30%;
  width: 95%;
  z-index: 10;
}
.first-article-date{
    position: relative;
    top:0;
    left: 78%;
}
.first-section-art2{
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    float: right;
    height: 49.5%;
    position: relative;
    width: 32.5%;
}
.article-2{
   background-image: url("img/bitcoin.JFIF");
   background-position: center;
   background-size: cover;   
   background-repeat: no-repeat;
   margin-bottom: 0.25%;
}
.first-section-art2 div{
    position: relative;
    left: 1%;
    top: 48%;
}
.insights{
    font-size: 1em;
    margin-left: 1%;
    padding: 2%;
}
.section-h2{
    font-size: 1.8em;
    font-weight: bold;
    padding: 2%;
}
.article-author{
    font-size: 0.9em;
    margin-left: 1%;
    padding: 2%;
}
.article-3{
    background-image: url("img/find-more.JFIF");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.25%;
}

